*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(194, 201, 206);
    background-color: rgb(99, 93, 93);
    background-image: url(./img/fondo-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.encabezado{
    background-color: rgb(221, 55, 55);
    background-image: url(./img/Iron-Man-titulo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    height: 20vh;
}

.contenido_imagen{
    padding: 2rem;
}

.contenido_imagen img{
    width: 30%;
    margin: 2rem;
    box-shadow: 5px 5px rgb(132, 127, 160);
    }

    .section-menu{
        margin: 2rem;
    }
 /* ----------------------NO SE COMO CENTRAR EL TEXTO -------------------------- */
    .contenido_imagen div p{
        text-align: center;

    overflow-wrap: break-word;
    
}
    
.texto_personajes{
    line-height: normal; 
    text-align: center;
    font-weight: 800;
    color: aliceblue;
    padding: 5rem;
    display: flex;
    font-size: 1.3rem;
    width: 550px;
    
}

.pie{
padding: 3rem;
}
.arriba{
    padding: 3rem;
}

.encabezado nav ul li a{
    color: brown;
}

.pie a{
    color: brown;
}
.arriba a{
    color: brown;
}